@CHARSET "ISO-8859-1";

* {
    box-sizing: border-box;
    font-family: Verdana,"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

tr:nth-child(even) {
    color: #000000;
    background-color: #EAF2D3;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border-color: grey;
}

html, body {
    font-size: 15px;
    line-height: 1.5;
}

tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}